.Team {
	width: 100%;
	text-align: center;
}
.TeamMember{
	background: #fefefe;
	padding : 6% 1% 6% 1%;
	display: inline-block;
	margin: 3% 3% 3% 3%;
	width: 25%;
	border-radius: 7%;
	box-shadow: 0.5px 1px 3px gray;
}

.TeamMember img {
	height : 60%;
	width: 60%;
	border-radius: 50%;
	margin-bottom: 19%;

}

.TeamMember p{
	margin: auto;
}


.header-title{
	font-size: 15px;

}

.Comment{
	background-color: #DEF7EC;
	color: #593F3C;
	border-radius: 15px;
	margin-bottom: 10px;
}
.Comment h5{
  	padding: 20px 0px 0px 20px;
}
.Comment p{
  	padding: 0px 0px 20px 20px;
}

#lblPrice{
	font-size: 30px;
	font-family: Courier cursive;
	line-height: 120%;
}

#lblCategory {
	font-size: 20px;
	font-style: italic;
	font-family: Verdana;
	line-height: 80%;
}

#lblItemTitle{
	margin-top: 20px;
	font-size: 40px;
	font-family: Verdana;
}

.buttonDetails{
	width: 700px;
	height : 50px;
	margin: 20px 0 0 0;
}

#downloadbtn{
	width: 300px;
	background-color: #92BF20;
	color: #eeeeee;
	height: 100%;
}

#sharebtn{
	width: 250px;
	background-color: #4c66a4;
	color: #eeeeee;
	height: 100%;
	margin-bottom: 0px;
}

#sharebtn:hover{
	background-color: #eeeeee;
	color: #4c66a4;
}

#rating {
	margin-top: 20px;
	font-size: 50px;
	font-family: Courier;
}
.pimage{
	display: block;
	max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
.ratebar{
	width: 300px;
	margin: 0 auto auto auto;
}

#lblItemTitle { 	
    overflow:hidden !important;
    text-overflow: ellipsis;
}

#adimages{
	margin-top: 5px;
}

ul.feature_images {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	white-space: nowrap;
}

ul.feature_images li {
	display: inline-block;
}

ul.feature_images li img {
	width: 200px;
	height: 200px;
}

ul.feature_images p {
	width: 200px;
	overflow: hidden;
  	text-overflow: ellipsis;
}