.itemavatar{
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
}

.header-title{
	font-size: 15px;
}

#upload-chosen {
	color : #000000;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    color: #222222;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: auto auto auto auto;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    border: 1px solid #222222;
    background: #222222;
    height: 120%;
    width: 100%;
}

#uploadFile {
	margin-top: -13px;
	height: 40px;
}



.progress{
	border-radius: 4px;
	background-color: #eeeeee;
	width: 100%;
	height: 50px;
}

.progress div{
	border-radius: 4px;
	background: #AFC93C;
	width: 0%;
	height: 50px;
}

.Error{
	display: none;
	color : #FF2924;
}

#price {
	color: black;
}
